<template name="GestaoIgrejas_agenda">
  <div class="content">
    <div class="box">
      <div class="box-body">
          <div class="row col-md-12">
            <h2>
              Agenda de Eventos
              <button type="button" class="btn btn-primary pull-right" id="add">Adicionar</button>
            </h2>
            <br />
          </div>
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Evento</th>
                <th>Data</th>
                <th>Local</th>
                <th>Ações</th>
              </tr>
            </thead>
            <tbody>
              {{#if listEvents}}
                {{#each listEvents}}
                  <tr>
                    <td> {{name}} </td>
                    <td> {{getDateOfEvent}} </td>
                    <td> {{place}} </td>
                    <td>
                      <button type="button" class="btn btn-primary" id="edit">Editar</button>
                      <button type="button" class="btn btn-danger" id="remove">Excluir</button>
                    </td>
                  </tr>
                {{/each}}
              {{else}}
                <tr>
                  <td colspan="6" style="text-align: center">
                    <br />
                    <b> Nenhum evento cadastrado. </b>
                  </td>
                </tr>
              {{/if}}
            </tbody>
          </table>
      </div>
		</div>
	</div>
</template>

<template name="GestaoIgrejas_agenda_insert">
  <div class="content">
    <div class="box">
      <div class="box-body">
        <div class="row col-md-12">
          <h2>
            Cadastro de Evento
            <button type="button" class="btn btn-primary pull-right" id="back">Voltar</button>
          </h2>
          <br />
        </div>
        {{> quickForm collection="Agenda" id="insertAgendaForm" type="insert"}}
			</div>
		</div>
	</div>
</template>

<template name="GestaoIgrejas_agenda_edit">
  <div class="content">
    <div class="box">
      <div class="box-body">
        <div class="row col-md-12">
          <h2>
            Edição de Evento
            <button type="button" class="btn btn-primary pull-right" id="back">Voltar</button>
          </h2>
          <br />
        </div>
        {{> quickForm collection="Agenda" doc=data id="updateAgendaForm" type="update"}}
			</div>
		</div>
	</div>
</template>
